In [213]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import get_raw_data
import get_preprocessing_data
import analysis_method
import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine("mysql+mysqldb://root:"+"su970728!"+"@localhost/index_close_price", encoding='utf-8')
conn = engine.connect()
kospi_return.to_sql(name='kospi_return', con=engine, if_exists='append')
data_df = pd.read_sql_table('klips_data2',conn)
data_df

In [21]:
data_df = pd.read_sql_table('klips_data2',conn)
data_df

,hhid,labor income,0101,0110,0107,5501,jobtype,0330,0150,1406,pickle_num
0,8.0,2329.162537,1,2,26,0.0,employ,"전문, 과학 및 기술 서비스업 (70 ~ 73)",1.0,1.0,01
1,21.0,1940.968781,1,1,25,1.0,employ,도매 및 소매업 (45~47),3.0,0.0,01
2,25.0,5822.906343,1,1,37,1.0,unemploy,도매 및 소매업 (45~47),4.0,0.0,01
3,30.0,1940.968781,1,3,30,0.0,unemploy,숙박 및 음식점업 (55 ~ 56),1.0,0.0,01
4,32.0,2911.453171,1,1,59,1.0,unemploy,도매 및 소매업 (45~47),4.0,1.0,01
...,...,...,...,...,...,...,...,...,...,...,...
49381,110213.0,6840.000000,1,2,37,1.0,employ,보건업 및 사회복지 서비스업(86~87),3.0,0.0,21
49382,110235.0,6560.000000,1,1,41,1.0,unemploy,건설업 (41 ~ 42),3.0,1.0,21
49383,110239.0,7970.000000,1,3,35,1.0,employ,"출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)",2.0,0.0,21
49384,110240.0,4830.000000,1,3,28,1.0,employ,"하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39)",3.0,0.0,21
49385,110250.0,9700.000000,1,1,36,1.0,unemploy,"협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)",2.0,0.0,21

In [24]:
data_df[data_df['pickle_num']=='02']

,hhid,labor income,0101,0110,0107,5501,jobtype,0330,0150,1406,pickle_num
1951,2.0,2887.974071,1,1,48,1.0,employ,광업 (05 ~ 08),3.0,0.0,02
1952,8.0,1925.316047,1,2,27,0.0,employ,건설업 (41 ~ 42),1.0,1.0,02
1953,32.0,2887.974071,1,1,60,1.0,unemploy,도매 및 소매업 (45~47),4.0,1.0,02
1954,36.0,6257.277154,1,3,43,1.0,employ,금융 및 보험업 (64 ~ 66),4.0,0.0,02
1955,40.0,3850.632095,1,1,48,1.0,unemploy,도매 및 소매업 (45~47),5.0,1.0,02
...,...,...,...,...,...,...,...,...,...,...,...
3695,4998.0,4813.290118,1,3,38,1.0,employ,도매 및 소매업 (45~47),3.0,1.0,02
3696,5000.0,2310.379257,1,1,36,1.0,unemploy,운수업(49~52),5.0,1.0,02
3697,5014.0,4813.290118,1,3,33,1.0,employ,도매 및 소매업 (45~47),3.0,0.0,02
3698,5083.0,1270.708591,1,1,37,1.0,employ,보건업 및 사회복지 서비스업(86~87),3.0,0.0,02
3699,5131.0,7701.264189,1,1,37,1.0,unemploy,도매 및 소매업 (45~47),3.0,1.0,02

In [14]:
class processing():

    def __init__(self):
        pymysql.install_as_MySQLdb()
        engine = create_engine("mysql+mysqldb://root:" + "su970728!" + "@localhost/index_close_price", encoding='utf-8')
        conn = engine.connect()
        self.data_df = pd.read_sql_table('klips_data', conn)

    def fixed_effect_coffecient(self, group_num, age_num):
        # group_num: 1=high_school, 2=college, 3=university
        # age_num : 22=high_school, 24=college, 26=university
        temp_edu = self.data_df.groupby(["0110"]).get_group(group_num)
        temp_edu = get_preprocessing_data.get_agecut_data(temp_edu, age_num)

        fer_results = analysis_method.fe_regression_sol(temp_edu)
        fitting_result_dict = analysis_method.fitting_polynomial(fer_results, 3)
        return fer_results, fitting_result_dict


abc = processing()
fer_result,fitting_result_dict = abc.fixed_effect_coffecient(1, 22)
intercept = fer_result[0]['intercept']
marriage_beta = fer_result[0]['marriage']
family_num_beta = fer_result[0]['family_num']
labor_intercept = fitting_result_dict[1][0]

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.933
Model:                            OLS   Adj. R-squared:                  0.928
Method:                 Least Squares   F-statistic:                     180.8
Date:                Fri, 06 Nov 2020   Prob (F-statistic):           6.45e-23
Time:                        13:31:11   Log-Likelihood:                 65.091
No. Observations:                  43   AIC:                            -122.2
Df Residuals:                      39   BIC:                            -115.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -0.7417      0.400     -1.853      0.071      -1.551       0.068
age^1/10^0     0.0124      0.031      0.405      0.687      -0.049       0.074
age^2/10^1     0.0064      0.007      0.865      0.392      -0.009       0.021
age^3/10^2    -0.0009      0.001     -1.577      0.123      -0.002       0.000
==============================================================================
Omnibus:                        4.308   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.116   Jarque-Bera (JB):                4.494
Skew:                          -0.071   Prob(JB):                        0.106
Kurtosis:                       4.577   Cond. No.                     5.94e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.94e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [19]:
fitting_result_dict[1][3]

-0.0008985321417539305

In [4]:
start_list = [22, 24, 26]
edu_list = ["high_school", "college", "university"]

fer_results_dict = {}
for i in range(3):
    temp_edu = data_df.groupby(["0110"]).get_group(i+1)
    temp_edu = get_preprocessing_data.get_agecut_data(temp_edu, start_list[i])

    #print("-----------------------------------------------------------")
    #print(edu_list[i])
    fer_results = analysis_method.fe_regression_sol(temp_edu)
    
    fer_results_dict[edu_list[i]] = fer_results

In [10]:
fer_results_dict['high_school'][0]['intercept']

7.507208569958163

In [66]:
fer_results_dict

{'high_school': (intercept     7.507209
  marriage      0.319783
  family_num    0.058957
  22           -0.422410
  23           -0.172949
  24           -0.273182
  25           -0.020348
  26           -0.216355
  27           -0.090763
  28           -0.044681
  29            0.014895
  30           -0.009152
  31            0.004349
  32            0.024783
  33            0.072826
  34            0.063157
  35            0.107632
  36            0.110379
  37            0.141826
  38            0.124116
  39            0.126760
  40            0.196035
  41            0.178501
  42            0.183254
  43            0.223409
  44            0.245005
  45            0.264777
  46            0.272526
  47            0.300692
  48            0.319742
  49            0.304913
  50            0.324493
  51            0.345159
  52            0.344788
  53            0.379447
  54            0.412159
  55            0.419980
  56            0.446590
  57            0.430110
  58            0.431678
  59            0.431977
  60            0.359314
  61            0.334431
  62            0.325100
  63            0.256214
  64            0.236030
  dtype: float64,
  intercept     0.0000
  marriage      0.0000
  family_num    0.0000
  22            0.0026
  23            0.1613
  24            0.0037
  25            0.7896
  26            0.0005
  27            0.0773
  28            0.2981
  29            0.6932
  30            0.7785
  31            0.8823
  32            0.3612
  33            0.0056
  34            0.0126
  35            0.0000
  36            0.0000
  37            0.0000
  38            0.0000
  39            0.0000
  40            0.0000
  41            0.0000
  42            0.0000
  43            0.0000
  44            0.0000
  45            0.0000
  46            0.0000
  47            0.0000
  48            0.0000
  49            0.0000
  50            0.0000
  51            0.0000
  52            0.0000
  53            0.0000
  54            0.0000
  55            0.0000
  56            0.0000
  57            0.0000
  58            0.0000
  59            0.0000
  60            0.0000
  61            0.0000
  62            0.0000
  63            0.0000
  64            0.0000
  dtype: float64),
 'college': (intercept     7.801560
  marriage      0.254984
  family_num    0.053703
  24           -0.391302
  25           -0.393796
  26           -0.199693
  27           -0.184089
  28           -0.182202
  29           -0.075609
  30           -0.040593
  31            0.016047
  32            0.020156
  33            0.045444
  34            0.055054
  35            0.142182
  36            0.115264
  37            0.117288
  38            0.167745
  39            0.178994
  40            0.140357
  41            0.155491
  42            0.177565
  43            0.246724
  44            0.244327
  45            0.264651
  46            0.324530
  47            0.285840
  48            0.235147
  49            0.263366
  50            0.281715
  51            0.300781
  52            0.375439
  53            0.362519
  54            0.351242
  55            0.423231
  56            0.452389
  57            0.505914
  58            0.505402
  59            0.460248
  60            0.502083
  61            0.415559
  62            0.511139
  63            0.259216
  64            0.365796
  dtype: float64,
  intercept     0.0000
  marriage      0.0000
  family_num    0.0000
  24            0.0056
  25            0.0000
  26            0.0038
  27            0.0007
  28            0.0001
  29            0.0562
  30            0.2469
  31            0.6272
  32            0.5208
  33            0.1295
  34            0.0618
  35            0.0000
  36            0.0001
  37            0.0000
  38            0.0000
  39            0.0000
  40            0.0000
  41            0.0000
  42            0.0000
  43            0.0000
  44            0.0000
  45            0.0000
  46            0.0000
  47            0.0000
  48            0.0000
  49            0.0000
  50            0.0000
  51            0.0000
  52            0.0000
  53            0.0000
  54            0.0000
  55            0.0000
  56            0.0000
  57            0.0000
  58            0.0000
  59            0.0000
  60            0.0000
  61            0.0000
  62            0.0000
  63            0.0654
  64            0.0211
  dtype: float64),
 'university': (intercept     7.871706
  marriage      0.384149
  family_num    0.044035
  26           -0.474553
  27           -0.344305
  28           -0.115474
  29           -0.083824
  30           -0.018075
  31            0.005601
  32            0.052894
  33            0.098040
  34            0.074384
  35            0.098914
  36            0.138853
  37            0.143145
  38            0.160497
  39            0.186366
  40            0.200635
  41            0.216268
  42            0.210172
  43            0.235704
  44            0.262965
  45            0.266258
  46            0.297620
  47            0.315346
  48            0.338707
  49            0.316604
  50            0.336272
  51            0.342877
  52            0.352821
  53            0.347733
  54            0.419711
  55            0.383696
  56            0.450546
  57            0.444840
  58            0.412993
  59            0.389213
  60            0.425775
  61            0.347552
  62            0.281451
  63            0.248339
  64            0.105143
  dtype: float64,
  intercept     0.0000
  marriage      0.0000
  family_num    0.0000
  26            0.0000
  27            0.0000
  28            0.0095
  29            0.0195
  30            0.5371
  31            0.8311
  32            0.0319
  33            0.0000
  34            0.0007
  35            0.0000
  36            0.0000
  37            0.0000
  38            0.0000
  39            0.0000
  40            0.0000
  41            0.0000
  42            0.0000
  43            0.0000
  44            0.0000
  45            0.0000
  46            0.0000
  47            0.0000
  48            0.0000
  49            0.0000
  50            0.0000
  51            0.0000
  52            0.0000
  53            0.0000
  54            0.0000
  55            0.0000
  56            0.0000
  57            0.0000
  58            0.0000
  59            0.0000
  60            0.0000
  61            0.0000
  62            0.0000
  63            0.0000
  64            0.1005
  dtype: float64)}

In [12]:
fitting_result_dict = analysis_method.fitting_polynomial(fer_results_dict['high_school'], 3)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.933
Model:                            OLS   Adj. R-squared:                  0.928
Method:                 Least Squares   F-statistic:                     180.8
Date:                Fri, 06 Nov 2020   Prob (F-statistic):           6.45e-23
Time:                        13:20:38   Log-Likelihood:                 65.091
No. Observations:                  43   AIC:                            -122.2
Df Residuals:                      39   BIC:                            -115.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -0.7417      0.400     -1.853      0.071      -1.551       0.068
age^1/10^0     0.0124      0.031      0.405      0.687      -0.049       0.074
age^2/10^1     0.0064      0.007      0.865      0.392      -0.009       0.021
age^3/10^2    -0.0009      0.001     -1.577      0.123      -0.002       0.000
==============================================================================
Omnibus:                        4.308   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.116   Jarque-Bera (JB):                4.494
Skew:                          -0.071   Prob(JB):                        0.106
Kurtosis:                       4.577   Cond. No.                     5.94e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.94e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [13]:
fitting_result_dict[1][0]

-0.7417275460445909

In [207]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import get_raw_data
import get_preprocessing_data
import analysis_method
import pymysql
import statsmodels.regression.linear_model as sm
class processing():

    def __init__(self):
        pymysql.install_as_MySQLdb()
        engine = create_engine("mysql+mysqldb://root:" + "su970728!" + "@localhost/index_close_price", encoding='utf-8')
        conn = engine.connect()
        self.data_num = data_num = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21"]
        self.data_df = pd.read_sql_table('klips_data2', conn)

    def fixed_effect_coffecient(self, group_num, age_num):
        # group_num: 1=high_school, 2=college, 3=university
        # age_num : 22=high_school, 24=college, 26=university
        temp_edu = self.data_df.groupby(["0110"]).get_group(group_num)
        temp_edu = get_preprocessing_data.get_agecut_data(temp_edu, age_num)

        fer_results = analysis_method.fe_regression_sol(temp_edu)
        fitting_results = analysis_method.fitting_polynomial(fer_results, 3)
        return fer_results, fitting_results

    def shock_calculation(self,group_num, age_num):
        group_sigma_df = pd.DataFrame()
        group_pvalue_df = pd.DataFrame()
        group_rid_df = pd.DataFrame()
        self.df_y_star = pd.DataFrame()
        temp_edu = self.data_df.groupby(["0110"]).get_group(group_num)
        temp_edu = get_preprocessing_data.get_agecut_data(temp_edu, age_num)

        fer_results = analysis_method.fe_regression_sol(temp_edu, False)
        fitting_result = analysis_method.fitting_polynomial(fer_results, 3, False)

        fitting_paramters = pd.concat([fer_results[0][:3], fitting_result[1]], axis=1).sum(axis=1)

        self.data_dict={}
        for j in self.data_num:
            self.data_dict[j] = self.data_df[self.data_df['pickle_num']==j]
            #self.data_dict[j] = self.data_dict[j].set_index('hhid',inplace=True)
            temp_edu_split = self.data_dict[j].groupby(["0110"]).get_group(group_num)
            temp_edu_split = get_preprocessing_data.get_agecut_data(temp_edu_split, age_num)

            log_y = np.log(temp_edu_split["labor income"])

            x_mat = analysis_method.get_reg_x(temp_edu_split).iloc[:, :3]
            poly_x_mat = analysis_method.polynomial_matrix(temp_edu_split["0107"], 3).iloc[:, 1:]
            poly_x_mat.index = x_mat.index

            temp_real_data = pd.concat([x_mat, poly_x_mat], axis=1)

            f_hat = temp_real_data @ fitting_paramters

            log_y_star = log_y - f_hat
            self.df_y_star = pd.concat([self.df_y_star, log_y_star], axis=1)

        self.df_y_star.columns = self.data_num
        temp_varrid_list = []
        temp_rid_list = []
        for k in range(len(self.data_num) - 1):
            temp_rid = self.df_y_star.iloc[:, :-(k + 1)].values - self.df_y_star.iloc[:, k + 1:].values
            temp_rid_list.append(temp_rid)

            temp_varrid_list.append(np.nanvar(temp_rid))

        var_rid_series = pd.Series(temp_varrid_list)
        rid_series = (pd.DataFrame(temp_rid_list[0], columns=self.data_num[1:]) * -1).mean()
        group_rid_df = pd.concat([group_rid_df, rid_series], axis=1)

        var_rid_x = np.ones([len(var_rid_series), 2]) * 2
        var_rid_x[:, 0] = var_rid_series.index.values + 1
        var_rid_y = var_rid_series.values

        sol = sm.OLS(var_rid_y, var_rid_x)
        sol_result = sol.fit()

        sigma_df = pd.DataFrame(sol_result.params, index=["permanent_shock", "idiosyncratic_temporary_shock"],
                                columns=["sigma"])
        pvalue_df = pd.DataFrame(np.round(sol_result.pvalues, 3),
                                 index=["permanent_shock(p-value)", "idiosyncratic_temporary_shock(p-value)"],
                                 columns=["p-value"])

        group_sigma_df = pd.concat([group_sigma_df, sigma_df], axis=1)
        group_pvalue_df = pd.concat([group_pvalue_df, pvalue_df], axis=1)

        group_rid_df.columns = ["high_school"]
        group_sigma_df.columns = ["high_school"]
        group_pvalue_df.columns = ["high_school"]
        group_sigma_df = pd.concat([group_sigma_df, group_pvalue_df]).loc[
                         ["idiosyncratic_temporary_shock", "permanent_shock", "idiosyncratic_temporary_shock(p-value)",
                          "permanent_shock(p-value)"], :]
        return var_rid_series


abc = processing()
fer_result,fitting_results = abc.fixed_effect_coffecient(1, 22)
intercept = fer_result[0]['intercept']
marriage_beta = fer_result[0]['marriage']
family_num_beta = fer_result[0]['family_num']
labor_intercept = fitting_results[1][0]
age_coff_list = [fitting_results[1][i] for i in range(1,4)]
aggregate_risk = abc.shock_calculation(1,22)
print(aggregate_risk)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.933
Model:                            OLS   Adj. R-squared:                  0.928
Method:                 Least Squares   F-statistic:                     180.8
Date:                Fri, 06 Nov 2020   Prob (F-statistic):           6.45e-23
Time:                        20:45:44   Log-Likelihood:                 65.091
No. Observations:                  43   AIC:                            -122.2
Df Residuals:                      39   BIC:                            -115.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -0.7417      0.400     -1.853      0.071      -1.551       0.068
age^1/10^0     0.0124      0.031      0.405      0.687      -0.049       0.074
age^2/10^1     0.0064      0.007      0.865      0.392      -0.009       0.021
age^3/10^2    -0.0009      0.001     -1.577      0.123      -0.002       0.000
==============================================================================
Omnibus:                        4.308   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.116   Jarque-Bera (JB):                4.494
Skew:                          -0.071   Prob(JB):                        0.106
Kurtosis:                       4.577   Cond. No.                     5.94e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.94e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
dtype: float64

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:68: RuntimeWarning: Degrees of freedom <= 0 for slice.
C:\Anaconda\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
C:\Anaconda\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
C:\Anaconda\lib\site-packages\scipy\stats\_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [208]:
df_y_star = pd.DataFrame()

temp_edu = abc.data_df.groupby(["0110"]).get_group(1)
temp_edu = get_preprocessing_data.get_agecut_data(temp_edu, 22)

fer_results = analysis_method.fe_regression_sol(temp_edu, False)
fitting_result = analysis_method.fitting_polynomial(fer_results, 3, False)

fitting_paramters = pd.concat([fer_results[0][:3], fitting_result[1]], axis=1).sum(axis=1)
for j in abc.data_num:
    temp_edu_split = abc.data_dict[j].groupby(['0110']).get_group(1)
    del temp_edu_split['pickle_num']
    temp_edu_split.set_index('hhid',inplace=True)
    temp_edu_split = get_preprocessing_data.get_agecut_data(temp_edu_split, 22)
    log_y = np.log(temp_edu_split["labor income"])

    x_mat = analysis_method.get_reg_x(temp_edu_split).iloc[:, :3]
    poly_x_mat = analysis_method.polynomial_matrix(temp_edu_split["0107"], 3) .iloc[:, 1:]
    poly_x_mat.index = x_mat.index

    temp_real_data = pd.concat([x_mat, poly_x_mat], axis=1)

    f_hat = temp_real_data @ fitting_paramters

    log_y_star = log_y - f_hat
    df_y_star = pd.concat([df_y_star, log_y_star], axis=1)

df_y_star.columns = abc.data_num
df_y_star
temp_varrid_list = []
temp_rid_list = []
group_rid_df = pd.DataFrame()
for k in range(len(abc.data_num)-1):
    temp_rid = df_y_star.iloc[:, :-(k+1)].values - df_y_star.iloc[:, k+1:].values
    temp_rid_list.append(temp_rid)
        
    temp_varrid_list.append(np.nanvar(temp_rid))
        
var_rid_series = pd.Series(temp_varrid_list)
    
rid_series = (pd.DataFrame(temp_rid_list[0], columns = abc.data_num[1:]) * -1).mean()
group_rid_df = pd.concat([group_rid_df, rid_series], axis=1)
var_rid_x = np.ones([len(var_rid_series), 2]) * 2
var_rid_x[:, 0] = var_rid_series.index.values + 1
var_rid_y = var_rid_series.values

sol = sm.OLS(var_rid_y, var_rid_x)
sol_result = sol.fit()
    
sigma_df = pd.DataFrame(sol_result.params, index=["permanent_shock", "idiosyncratic_temporary_shock"], columns=["sigma"])
pvalue_df = pd.DataFrame(np.round(sol_result.pvalues, 3), index=["permanent_shock(p-value)", "idiosyncratic_temporary_shock(p-value)"], columns=["p-value"])

In [235]:
ksi = group_rid_df
ksi.index

Index(['02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21'],
      dtype='object')

In [245]:
kospi_return = pd.read_sql_table('kospi_return',conn)
kospi_return.set_index('Symbol Name')
kospi_return.index = abc.data_num
kospi_ret = kospi_return.copy() / 100
temp_beta = (kospi_ret - 0.02) - np.mean(kospi_ret - 0.02) 
del temp_beta['Symbol Name']
temp_beta_model = sm.OLS(ksi[0], temp_beta.loc[ksi.index])
temp_beta_results = temp_beta_model.fit()

In [249]:
temp_beta_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.252
Model:                            OLS   Adj. R-squared (uncentered):              0.212
Method:                 Least Squares   F-statistic:                              6.389
Date:                Fri, 06 Nov 2020   Prob (F-statistic):                      0.0205
Time:                        21:16:15   Log-Likelihood:                          27.865
No. Observations:                  20   AIC:                                     -53.73
Df Residuals:                      19   BIC:                                     -52.73
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
코스피            0.1117      0.044      2.528      0.021       0.019       0.204
==============================================================================
Omnibus:                       13.011   Durbin-Watson:                   0.456
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               13.925
Skew:                           1.135   Prob(JB):                     0.000947
Kurtosis:                       6.400   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [246]:
temp_beta

        코스피
01 -0.54329
02  0.37351
03  0.70661
04 -0.61229
05  0.25351
06 -0.21659
07  0.17071
08 -0.01609
09  0.43871
10 -0.07269
11  0.20131
12 -0.52849
13  0.37531
14  0.09761
15 -0.22779
16 -0.02699
17 -0.11399
18 -0.16879
19 -0.09729
20 -0.09059
21  0.09761

In [192]:
t.set_index('hhid',inplace=True)

In [196]:
abc.data_dict['01']

,hhid,labor income,0101,0110,0107,5501,jobtype,0330,0150,1406,pickle_num
0,8.0,2329.162537,1,2,26,0.0,employ,"전문, 과학 및 기술 서비스업 (70 ~ 73)",1.0,1.0,01
1,21.0,1940.968781,1,1,25,1.0,employ,도매 및 소매업 (45~47),3.0,0.0,01
2,25.0,5822.906343,1,1,37,1.0,unemploy,도매 및 소매업 (45~47),4.0,0.0,01
3,30.0,1940.968781,1,3,30,0.0,unemploy,숙박 및 음식점업 (55 ~ 56),1.0,0.0,01
4,32.0,2911.453171,1,1,59,1.0,unemploy,도매 및 소매업 (45~47),4.0,1.0,01
...,...,...,...,...,...,...,...,...,...,...,...
1946,4991.0,194.096878,1,1,44,1.0,unemploy,"농업, 임업 및 어업 (01 ~ 03)",7.0,1.0,01
1947,4993.0,2135.065659,1,1,47,0.0,employ,건설업 (41 ~ 42),1.0,0.0,01
1948,4997.0,2523.259415,1,1,37,1.0,employ,제조업 (10 ~ 33),4.0,0.0,01
1949,4998.0,3881.937562,1,3,37,1.0,employ,도매 및 소매업 (45~47),3.0,1.0,01
1950,5000.0,9704.843905,1,1,35,1.0,unemploy,운수업(49~52),4.0,1.0,01

In [205]:
np.exp(7.5072-0.7417+0.3198+0.059*2 + (25 * 0.0124 + ((25**2 /10) *0.0064) + ((25**3/100) * -0.0009)))

2374.8154305588755